/*
  CSS File
*/
.page {
  min-width:100%;
  min-height:100%;
}


header{
  background-color: rgb(112,99,80);
  margin: 0;
  height:80px;
}

#logo {
  float: left;
  padding:10px;
}

.menu {
  overflow:hidden;
  position:fixed;
  top:0;
  width:100%;
}

.menu ul{
  float:right;
  list-style: none;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 2rem;
  padding:25px;
  
}

.menu a {
  color:white;
  text-decoration: none;
  padding:3px;
}

.menu a:hover {
  background-color: white;
  color:#c5693f;
  border: 1px solid;
  border-radius: 20px;
  padding:10px;
  text-decoration: none;
}

.ordermenu {
  background-color: whitesmoke;
  border-radius:20px;
}

.ordermenu a {
  color:#c5693f;
}

main{
  margin-top:30px; /* added margin to prevent content overlay*/
  background-color: rgb(112,99,80);
}