header{
  background-color: rgb(112,99,80);
  margin: none;
  height:80px;
  overflow:hidden;
  position:fixed;
  top:0;
  width:100%;
}

.logo {
  width: 500px;
  float: left;
  padding:10px;
  overflow:hidden;
  position:fixed;
}

.menu {
  overflow:hidden;
  position:fixed;
  top:0;
  width:100%;
}

.menu ul{
  float:right;
  list-style: none;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 2rem;
  padding:25px;
  
}

.menu2 a {
  color:white;
  text-decoration: none;
  border-radius: 20px;
  padding:10px;
  border: 2px transparent solid;
}


.menu2 a:hover {
  background-color: white;
  color:#c5693f;
  border: 2px solid;
  border-radius: 20px;
  padding:10px;
  text-decoration: none;
}


.ordermenu a{
  background-color: whitesmoke;
  color:#c5693f;
  border: solid transparent 2px;
  border-radius: 20px;
  padding:10px;
  text-decoration: none;
}

.ordermenu :hover{
  background-color: whitesmoke;
  color:#c5693f;
  border: #c5693f solid 2px;
  border-radius: 20px;
  padding:10px;
  text-decoration: none;
}

body{
  background-color: rgb(238,232,186);
}

main{
  margin-top:80px;
  font-family: "Baskerville Old Face", serif;
} 

/* Testing grid spacing. Reference: Grid1.png & Grid2.png*/
/*div{
  border:red solid thin;
}*/


.hero{
  display:grid;
  grid-template-columns: 50% 50%;
}

.top-content-middle{
  display:grid;
  grid-template-columns: 49% 51%;
  margin-right:25px;
  margin-top:19px;
}

.top-content-footer{
  display:grid;
  grid-template-columns: 100%;
}

.right img{
  width:100%;
}

.top-content-main {
  padding-bottom: 30px;
}


.top-content-main h2 {
  font-size:360%;
  color: #341213;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  padding-bottom:20px;
}

.top-content-main h3{
  font-size: 350%;
  text-transform: capitalize;
  text-align: center;
  padding-right: 10px;
}

.top-content-main-span {
  color: #987A00;
}

.top-content-main h4 {
  font-size:120%;
  text-transform: uppercase;
  text-align: right;
  padding-right: 250px;
  margin-top: -10px;
  color: #504f4f;
}

.top-content-left {
  font-size:240%;
  color:#987A00;
  text-align: center;
  text-shadow:#6d5701 -2px 3px 2px;
}

.top-content-left h1 {
  font-size:350%;
  color:#987A00;
  text-align: center;
}

.top-content-left-span{
  font-size: 60%;
}

.top-content-right{
  font-size: 120%;
  padding-top:38px;
  padding-left:10px;
  text-align: justify;
  line-height:30px;
}

.top-content-footer-content{
  text-transform: uppercase;
  font-size:140%;
  text-align: center;
  padding-top:20px;
  padding-right:40px;
}

.top-content-footer-content a{
  background-color: whitesmoke;
  color:#c5693f;
  border: solid #c5693f 2px;
  border-radius: 9px;
  padding:10px;
  text-decoration: none;
}

/* Visual reference: Grid2.png */
.middle-content{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50% 50%;
  column-gap: 10px;
  row-gap:10px;
  margin-left: 220px;
}

.middle-top{
  margin-top: 5%;
  font-size:160%;
  color: #341213;
  text-transform: capitalize;
  text-align: center;
  margin-bottom:30px;
}

.middle-content{
align-items: stretch;
width:75%;
}

.middle-content-top-1 {
height:105%;
}

.middle-content-top-2 {
padding-top:30px;
}

.middle-content-top-3 {
padding-left: 25px;
padding-bottom:25px;
}

.middle-content-bottom-2{
  padding-top:15px;
}

.middle-bottom{
  margin-top: 50px;
  text-transform: uppercase;
  font-size:140%;
  text-align: center;
}

.middle-bottom a {
  background-color: #c5693f;
  color:white;
  border: #c5693f solid 2px;
  border-radius: 9px;
  padding:10px;
  text-decoration: none;
}