header{
  background-color: rgb(112,99,80);
  margin: 0;
  height:80px;
  overflow:hidden;
  position:fixed;
  top:0;
  width:100%;
}

.logo {
  float: left;
  padding:10px;
  overflow:hidden;
  position:fixed;
}

.menu {
  overflow:hidden;
  position:fixed;
  top:0;
  width:100%;
}

.menu ul{
  float:right;
  list-style: none;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 2rem;
  padding:25px;
  
}

.menu2 a {
  color:white;
  text-decoration: none;
  border-radius: 20px;
  padding:10px;
  border: 2px transparent solid;
}


.menu2 a:hover {
  background-color: white;
  color:#c5693f;
  border: 2px solid;
  border-radius: 20px;
  padding:10px;
  text-decoration: none;
}


.ordermenu a{
  background-color: whitesmoke;
  color:#c5693f;
  border: solid transparent 2px;
  border-radius: 20px;
  padding:10px;
  text-decoration: none;
}

.ordermenu :hover{
  background-color: whitesmoke;
  color:#c5693f;
  border: #c5693f solid 2px;
  border-radius: 20px;
  padding:10px;
  text-decoration: none;
}

body{
  background-color: rgb(238,232,186);
}

main{
  margin-top:80px;
  font-family: "Baskerville Old Face", serif;
} 

div{
  border:red solid thin;
}


.hero{
  display:grid;
  grid-template-columns: 50% 50%;
}

.right img{
  width:100%;
}

.top-content-middle{
  display:grid;
  grid-template-columns: 30% 70%;
}

.top-content-footer{
  display:grid;
  grid-template-columns: 50% 50%;
}